.card{
    background-color: aqua;
}

.imgConsole{
    width: 20px;
    margin-right: 5px;
    margin-bottom: 20px;
}

li{
    list-style: none;
}

.btnDetalle{
    display: inline;
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;
}