<!-- <div class="container" *ngFor="let screen of image.results">
    <div class="row">
        <div class="col">
            <img [src]="screen.image"/>
        </div>
        <div class="col">
            <img [src]="screen.image"/>
        </div>
    </div>
</div> -->
<!-- <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let game of games">
      <div class="card">
        <img *ngFor="let img of game.short_screenshots" 
                [src]="img.image" 
              class="card-img-top" alt="...">
        <p *ngFor="let img of game.short_screenshots">{{img.id}}</p>
        <div class="card-body">
          <h5 class="card-title">{{ game.results.id }}</h5>
          <ul>
            <li *ngFor="let console of game.platforms">{{ console.platform.name }}</li>
          </ul>
          <div>
            <img class="imgConsole" *ngFor="let img of game.short_screenshots"
                  [src]="img.image"/>   
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let game of games">
      <div class="card">
        
        
      </div>
    </div>
  </div>